
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Product Homepage</h1>

  </div>
</div>


<div class="jumbotron jumbotron-fluid2">
  <div class="container">

      <div class="card" style="width: 100%;">
      <div class="card-body">
      <p><% @products.each do |product| %></p>

      <h4 class="card-title"> <%= product.name %></h4>


      <p class="card-text">
      <li><%= product.price_in_dollars %></li>
      <li><%= product.description  %></li>

      <button type="button" class="btn btn-outline-primary">
      <%= link_to("Take a Look", "/products/#{product.id}") %></button>

      </p>





     <% end %>
     </div>
   </div>

  </div>

    <button type="button" class="btn btn-primary btn-lg btn-block"><%= link_to "Create NEW!", new_product_path %></button>
